body {
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr 4fr;
    height: 100vh;
}

.header {
    display: grid;
    grid-area: 1 / 2 / 2 / 3; /*row start / column start / row end / column end */ 
    grid-template-rows: 0.5fr 1fr;
    padding-left: 32px;
    padding-top: 16px;
    margin-bottom: 16px;
    height: 20vh;
}

.search {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    align-items: center;
    justify-self: stretch;
    margin-bottom: 16px;
}

form {
    display: flex;
    gap: 5px;
}

#search {
    background-color: #E2E8F0;
    border: none;
    border-radius: 25px;    
    width: 500px;
    padding: 5px;
}

.profilesettings {
    display: flex;
    gap: 24px;
    height: 50px;
    align-items: center;
}

#profilepicture {
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
}

#profilename {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.bottom-header {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.name-introduction {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
}

#nameintroduction {
    display: flex;
    flex-direction: column;
}

.name-introduction > * {
    font-weight: bold;
}

#name {
    font-size: 28px;
}

.profileupdates {
    border-radius: 50px;
    background-color: #1992D3;
    text-align: center;
    padding: 10px;
    width: 100px;
    color: white;
    border: none;
    margin: 10px 10px 0px 0px;
}

.sidebar-container {
    grid-area: 1 / 1 / 4 / 2;
    background-color: #1992D3;
    color: white;
}

.dashboard-flex-container {
    display: flex;
    padding: 8px 16px;
    gap: 8px;
}

ul {
    list-style-type: none;
    font-size: 24px;
}

li {
    padding: 5px 0px;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.main-content {
    background-color: #E2E8F0;
    grid-area: 2 / 2 / 4 / 3;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    padding: 16px;
}

.cards {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, 350px);
}

.individual-card {
    background-color: white;
    border-left: 5px solid #F0B329;
    width: 300px;
    height: auto;
    padding: 16px;
    border-radius: 5px;
}

.main-right-side {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 225px;
}

.announcementcontent {
    background-color: white;
    display: grid;
    padding: 24px;
    grid-template-rows: repeat(3, 50px);
    border-radius: 5px;
}

.announcement-rows {
    border-bottom: 1px solid gray;
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;
}

.trendingcontent {
    background-color: white;
    display: grid;
    padding: 24px;
    grid-template-rows: repeat(3, 50px);
    border-radius: 5px;
}

.trending-rows {
    font-size: 12px;
}